

https://finance.yahoo.com/quote/%5ESET.BK?p=^SET.BK&.tsrc=fin-srch
    
^SET.BK
^SET50.BK


รายชื่อหลักทรัพย์ที่ใช้คำนวณดัชนี SET50 และ SET10
https://www.set.or.th/th/market/constituents.html

In [5]:
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
start = dt.datetime(2014,1,1)

try:
    data = pdr.get_data_yahoo('^SET50.BK',start=start)
    outfile = "indices_SET50.csv"
    data.to_csv(outfile)
except Exception as e:
    print("Error: %s" % (str(e)))

In [6]:
data

                  High         Low        Open       Close  Volume   Adj Close
Date
2020-03-09  864.169983  823.109985  839.280029  827.849976       0  827.849976