In [91]:
!git status

On branch master
Your branch is up to date with 'origin/master'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	../../.gitignore
	../../CheckDataset.ipynb
	../../Parse SET Factsheet.ipynb
	../../Parse_HistoricalTradingData.ipynb
	../../thesis-dataset/

nothing added to commit but untracked files present (use "git add" to track)

In [92]:
import os, os.path
HOME = os.path.join(".", '[SETSmart] SET100 Prices 2015-2019', 'SET100_Data')
os.chdir(HOME)

FileNotFoundError: [Errno 2] No such file or directory: './[SETSmart] SET100 Prices 2015-2019/SET100_Data'

In [ ]:
!ls

In [93]:
import xlrd
class HistoricalTrading:
    def __init__(self, symbol, dataFolder=None):
        self.symbol = symbol
        self.workbook = xlrd.open_workbook("%s/HistoricalTrading.xlsx" % symbol)
    
    def dump_lines(self):
        sh = self.workbook.sheet_by_index(0)
        print("{0} {1} {2}".format(sh.name, sh.nrows, sh.ncols))
        print("Cell D30 is {0}".format(sh.cell_value(rowx=29, colx=3)))
        for rx in range(sh.nrows):
            print(sh.row(rx))

In [ ]:
# For each stock data, extract Historical Trading excel file.

def check_historical_trade_data(symbols):
    for symbol in symbols:
        
        try:
            print("{} {}".format(symbol, os.listdir(symbol)))
            htdata = HistoricalTrading(symbol)
            print(htdata.workbook.sheet_names())
        except FileNotFoundError as e:
            print(symbol, "::" , str(e))
        
# Check data for 5 stocks
print("Checking dataset: Historical Trading")
check_historical_trade_data(os.listdir()[:3])

In [ ]:
# https://github.com/python-excel/xlrd No maintainer
import xlrd
wb = xlrd.open_workbook("TOP/HistoricalTrading.xlsx")
sh = wb.sheet_by_index(0)


def extract_meta(worksheet):
    val = worksheet.cell_value(rowx=0, colx=0)
    print(val)
extract_meta(sh)

# sh.row(0)[0:3] # [text:'Historical Trading', text:'', text:'05/09/19 18:49:59']

# Symbol meta
sh.row(2)[1] 
for i in range(2,9):
    print(sh.row(i)[0:2])

In [ ]:
# Symbol
for i in range(9,sh.nrows):
    print(sh.row(i)[0:2])

In [ ]:
# Find start date
for i, d in enumerate(sh.col(0)):
    print(i, d)

In [ ]:
# Header at row 29
sh.row(29)

In [ ]:

# Data starts from row 30
sh.row(30)

In [ ]:
import pandas as pd

data_rows = []
for k in range(30, sh.nrows):
    data_rows.append(sh.row(k))
# data_rows.pop(0)
headers = [hname.value for hname in sh.row(29)]

df = pd.DataFrame(data_rows, columns=headers)
df

In [78]:
# Remove last three lines

df = df[:-3]
df

Empty DataFrame
Columns: [Date, Prior, Open, High, Low, Close, Change, %Change, Average, Bid, Offer, AOM Volume (k.Shares), AOM Value (M.Baht), TR Volume (k.Shares), TR Value (M.Baht), Total Volume (k.Shares), Total Value (M.Baht), P/E, PEG, P/BV, BVPS (Baht), %Dividend Yield, %12M Dividend Yield, Market Cap. (M.Baht), %Volume Turnover, Par (Baht), Listed Shares, Trading Sign, Benefit Sign, TradingDay]
Index: []

[0 rows x 30 columns]

In [79]:
def fix_date(x): 
    return xlrd.xldate_as_datetime(x.value, 0)
# df['Date'].apply(fix_date)
# 
df.Date.apply(fix_date)

df['Date'] = df.Date.apply(fix_date)
df

Empty DataFrame
Columns: [Date, Prior, Open, High, Low, Close, Change, %Change, Average, Bid, Offer, AOM Volume (k.Shares), AOM Value (M.Baht), TR Volume (k.Shares), TR Value (M.Baht), Total Volume (k.Shares), Total Value (M.Baht), P/E, PEG, P/BV, BVPS (Baht), %Dividend Yield, %12M Dividend Yield, Market Cap. (M.Baht), %Volume Turnover, Par (Baht), Listed Shares, Trading Sign, Benefit Sign, TradingDay]
Index: []

[0 rows x 30 columns]

In [80]:

xlrd.xldate_as_datetime.__doc__

'\n    Convert an Excel date/time number into a :class:`datetime.datetime` object.\n\n    :param xldate: The Excel number\n    :param datemode: 0: 1900-based, 1: 1904-based.\n\n    :returns: A :class:`datetime.datetime` object.\n    '

In [81]:
type(df['Date'][2]), df['Date'][2].value

IndexError: index out of bounds

In [82]:
df

Empty DataFrame
Columns: [Date, Prior, Open, High, Low, Close, Change, %Change, Average, Bid, Offer, AOM Volume (k.Shares), AOM Value (M.Baht), TR Volume (k.Shares), TR Value (M.Baht), Total Volume (k.Shares), Total Value (M.Baht), P/E, PEG, P/BV, BVPS (Baht), %Dividend Yield, %12M Dividend Yield, Market Cap. (M.Baht), %Volume Turnover, Par (Baht), Listed Shares, Trading Sign, Benefit Sign, TradingDay]
Index: []

[0 rows x 30 columns]

In [83]:
df['%Change'] = df['%Change'].apply(lambda x: x.value)
df

Empty DataFrame
Columns: [Date, Prior, Open, High, Low, Close, Change, %Change, Average, Bid, Offer, AOM Volume (k.Shares), AOM Value (M.Baht), TR Volume (k.Shares), TR Value (M.Baht), Total Volume (k.Shares), Total Value (M.Baht), P/E, PEG, P/BV, BVPS (Baht), %Dividend Yield, %12M Dividend Yield, Market Cap. (M.Baht), %Volume Turnover, Par (Baht), Listed Shares, Trading Sign, Benefit Sign, TradingDay]
Index: []

[0 rows x 30 columns]

In [84]:
# Create Daily returns dataframe
daily_returns = df[['Date','%Change']].set_index('Date')
daily_returns

Empty DataFrame
Columns: [%Change]
Index: []

In [85]:
%matplotlib inline 

# Construct daily returns dataframe
daily_returns.plot()

TypeError: no numeric data to plot

In [86]:
df['%Change'], df['Date']

(Series([], Name: %Change, dtype: float64),
 Series([], Name: Date, dtype: datetime64[ns]))

In [87]:
daily_returns

Empty DataFrame
Columns: [%Change]
Index: []

In [88]:
type(df['Date'][3])

IndexError: index out of bounds

In [89]:
pd.to_datetime(df.Date) # convert to dates from time stamp

Series([], Name: Date, dtype: datetime64[ns])

In [90]:
p = pd.Period('2015', freq='D')
p.start_time, p.end_time

(Timestamp('2015-01-01 00:00:00'), Timestamp('2015-01-01 23:59:59.999999999'))

In [34]:
daily_returns

                      %Change TradingDay
Date
2019-09-04 00:00:04  2.631579        NaT
2019-09-03 00:00:04 -0.374532        NaT
2019-09-02 00:00:04 -1.476015        NaT
2019-08-30 00:00:04 -0.367647        NaT
2019-08-29 00:00:04  9.236948        NaT
...                       ...        ...
2014-09-11 00:00:04 -1.421801        NaT
2014-09-10 00:00:04 -0.471698        NaT
2014-09-09 00:00:04  0.000000        NaT
2014-09-08 00:00:04  0.473934        NaT
2014-09-05 00:00:04  1.442308        NaT

[1221 rows x 2 columns]

In [50]:
ts_pd = pd.Series(daily_returns['%Change'])

In [56]:
ts_pd['2015-01-01':'2018-12-31']

Series([], Name: %Change, dtype: float64)

In [66]:
study_period = pd.interval_range(pd.Timestamp('2015-01-01'), pd.Timestamp('2018-12-31'), freq='D')
study_period

IntervalIndex([(2015-01-01, 2015-01-02], (2015-01-02, 2015-01-03], (2015-01-03, 2015-01-04], (2015-01-04, 2015-01-05], (2015-01-05, 2015-01-06] ... (2018-12-26, 2018-12-27], (2018-12-27, 2018-12-28], (2018-12-28, 2018-12-29], (2018-12-29, 2018-12-30], (2018-12-30, 2018-12-31]],
              closed='right',
              dtype='interval[datetime64[ns]]')

In [74]:
mask = (df['Date'] > '2015-1-1') & (df['Date'] <= '2018-12-31')
df = df.loc['2015-01-01':'2018-12-31']

Empty DataFrame
Columns: [Date, Prior, Open, High, Low, Close, Change, %Change, Average, Bid, Offer, AOM Volume (k.Shares), AOM Value (M.Baht), TR Volume (k.Shares), TR Value (M.Baht), Total Volume (k.Shares), Total Value (M.Baht), P/E, PEG, P/BV, BVPS (Baht), %Dividend Yield, %12M Dividend Yield, Market Cap. (M.Baht), %Volume Turnover, Par (Baht), Listed Shares, Trading Sign, Benefit Sign, TradingDay]
Index: []

[0 rows x 30 columns]

In [75]:
df

Empty DataFrame
Columns: [Date, Prior, Open, High, Low, Close, Change, %Change, Average, Bid, Offer, AOM Volume (k.Shares), AOM Value (M.Baht), TR Volume (k.Shares), TR Value (M.Baht), Total Volume (k.Shares), Total Value (M.Baht), P/E, PEG, P/BV, BVPS (Baht), %Dividend Yield, %12M Dividend Yield, Market Cap. (M.Baht), %Volume Turnover, Par (Baht), Listed Shares, Trading Sign, Benefit Sign, TradingDay]
Index: []

[0 rows x 30 columns]

In [94]:
# Get data between two dates
# https://stackoverflow.com/questions/29370057/select-dataframe-rows-between-two-dates